.reactMarkDown {
  font-family: 'kumap-medium';
}

.reactMarkDown h1 {
  font-family: 'kumap-bold';
}

.reactMarkDown ul {
  list-style: disc outside none;
}

.reactMarkDown ul li {
  margin-left: 0px;
  display: list-item;
  text-align: -webkit-match-parent;
}
